body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
}

/* NAVIGATION BAR -START- */
.navbar {
  width: 100%;
  height: 60px;
  background-size: cover;
  background-image: url(/photos/silk.jpg);

  top: 0;
  z-index: 10;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_holder {
  width: 25%;
  left: 30px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_logo {
  width: 100%;
  opacity: 0.8;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_logo img {
  width: 90%;
}
.nav_logo:hover {
  opacity: 2;
  border-radius: 15px;
  transition: all 0.2s;
  background-color: transparent;
}
.link_holder {
  width: 45%;
  height: inherit;

  top: 0;
  right: 20px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav_links {
  width: auto;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_links a {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-family: "Montserrat", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  display: none;
}
.nav_links a:hover {
  font-weight: 400;
  color: goldenrod;
  transition: all 0.2s;
  border-bottom: 2px solid teal;
}

/* NAVBAR RESPONSIVE DESIGN */
@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    height: 55px;
    background-color: white;

    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo_holder {
    width: 70%;
    height: 100%;
    left: 5px;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav_logo {
    width: 90%;
    height: 100%;
    opacity: 1;
  }
  .nav_logo img {
    width: 100%;
  }
  .icon {
    width: 15%;
    height: 80%;
    right: 15px;
    font-weight: 900;
    font-size: x-large;
    text-align: center;
    position: absolute;
    text-decoration: none;

    display: flex;
    justify-content: start;
    align-items: center;
  }
  .icon i {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .navbar .link_holder:not(:first-child) {
    display: none;
    height: 0;
    transition: all 1s;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .link_holder {
    right: 0;
    top: 55px;
    width: 100%;
    height: 200px;
    display: flex;
    transition: all 1s;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid gold;
  }
  .navbar.responsive .nav_links {
    height: 200px;
    width: 80%;
    display: flex;
  }
}

/* NAVIGATION BAR -END- */

/* CONTENT -START- */
.container {
  width: 100%;
  height: fit-content;
  margin: 60px 0 0;

  display: flex;
  flex-flow: column nowrap;
}
.content_title {
  width: 100%;
  height: 275px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../photos/HOMEPAGE.jpeg);
}
.content_title h1 {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 400;
  margin: 0;

  background-color: rgba(85, 77, 77, 0.267);
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 100%;
  height: fit-content;
  padding: 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.content_subcontainer {
  width: 90%;
  margin: 50px 0 50px 0;
  padding: 10px 15px;
}
.left {
  width: 50%;
  float: left;
  margin-right: 60px;
  margin-bottom: 60px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: start;
}
.left img {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.left p {
  margin: 0;
  width: 100%;
  opacity: 0.55;
  font-size: 20px;
  font-weight: 400;
  color: #233547;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}
.right {
  width: 100%;
}
.company_description {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 450;
  text-align: justify;
  margin: 0 15px 25px 0;
  color: rgb(48, 93, 98);
  font-family: "Montserrat", sans-serif;
}
.company_description b {
  font-size: 17px;
  font-weight: 500;
  color: rgb(11, 10, 65);
  font-family: "Montserrat", sans-serif;
}
.mission_container {
  width: 100%;
  height: fit-content;
}
.mission {
  width: 100%;
  height: fit-content;
  margin: 0;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 30%,
      rgb(255, 255, 255) 50%
    ),
    url(../photos/compass.jpg) no-repeat;
  background-size: cover;
  background-position-y: -150px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mission_left {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mission_left p {
  width: 100%;
  color: white;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: rgb(0, 0, 0) -3px 3px 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.mission_right {
  width: 45%;
  padding: 0;
  margin: 0 40px 0 0;
}
.mission_right p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  text-indent: 10%;
  letter-spacing: 0.4px;
  color: rgb(48, 93, 98);
  font-family: "Montserrat", sans-serif;
  text-shadow: rgb(255, 255, 255) 2px 2px 5px;
}
.values_container {
  width: 100%;
  height: fit-content;
}
.values {
  width: 100%;
  height: fit-content;
  margin: 50px 0 50px 0;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 30%,
      rgb(255, 255, 255) 50%
    ),
    url(../photos/map.jpg) no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.values_right {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.values_right p {
  width: 100%;
  color: white;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: rgb(0, 0, 0) 3px 3px 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.values_left {
  width: 45%;
  margin: 0 0 0 40px;
  padding: 15px;
}
.values_left p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  text-indent: 10%;
  letter-spacing: 0.4px;
  color: rgb(48, 93, 98);
  font-family: "Montserrat", sans-serif;
  text-shadow: rgb(255, 255, 255) 2px 2px 5px;
}
.specialization {
  width: 100%;
  padding: 0 0 100px 0;
  height: fit-content;
  background-image: linear-gradient(white, #d6e4ee);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.special_navbar {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  outline-offset: 3px;
  outline: 1.5px solid teal;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;

  background-size: cover;
  background-position-y: -100px;
  background-image: url(/photos/silk.jpg);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spec_left {
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.spec_left h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  color: rgb(216, 164, 33);
  text-shadow: rgb(255, 255, 255) 2px 2px 10px;

  font-family: Georgia, "Times New Roman", Times, serif;
}
.spec_right {
  width: 60%;
  height: 100%;

  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spec_right button {
  color: black;
  background: none;
  padding: 10px 15px;
  transition: all 0.5s;
  font-weight: 600;
  text-shadow: rgb(255, 255, 255) 2px 2px 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.content_section {
  width: 90%;
  padding: 20px 0;
}
.visa_categories {
  width: 100%;

  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.visa_categories_subtitle {
  width: 75%;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.visa_categories_subtitle b {
  font-size: 30px;
  color: rgb(48, 93, 98);
}
.content_header {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  border-right: 1px solid gold;
  border-bottom: 2px solid teal;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.content_head {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content_head h1 {
  margin: 0;
  width: 15%;
  font-size: 35px;
  transition: all 0.5s;
  color: rgb(48, 93, 98);
  font-family: Georgia, "Times New Roman", Times, serif;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content_head h1 i {
  font-size: 80px;
}
.content_head:hover .h1 {
  color: goldenrod;
  transition: all 0.5s;
}
.content_head .h3 {
  margin: 0;
  width: 70%;
  font-size: 29px;
  transition: all 0.5s;
  color: rgb(48, 93, 98);
  font-family: Georgia, "Times New Roman", Times, serif;

  display: flex;
  align-items: center;
  justify-content: start;
}
.content_head:hover .h3 {
  color: goldenrod;
  transition: all 0.25s;
}
.content_head h4 {
  width: 5%;
  font-size: 30px;
  color: goldenrod;
  transition: all 0.25s;

  display: flex;
  align-items: center;
  justify-content: center;
}
.content_head:hover .h4 {
  color: teal;
  transition: all 0.25s;
  transform: rotate(180deg);
}
.content_head h4 i {
  transform: rotate(180deg);
}
.content_body {
  width: 100%;

  display: none;
  align-items: center;
  justify-content: space-evenly;
}
.content_body_title {
  width: 30%;
  padding: 0 10px;
  border-radius: 15px;
  color: rgb(48, 93, 98);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content_body_title h1 {
  width: 100%;
  font-size: 25px;
  color: rgb(48, 93, 98);
}
.content_container {
  width: 60%;
  font-size: 19px;
  padding: 10px 10px;
  border-radius: 15px;
  border-left: 2px solid teal;
  border-right: 2px solid teal;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.content_sub-class {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.content_sub-class h4 {
  margin: 0;
  width: 100%;
  color: rgb(48, 93, 98);

  display: flex;
  align-items: center;
  justify-content: center;
}
.content_sub-class h3 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: goldenrod;
}
.content_sub-class p {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.exchange_visitor {
  width: 100%;

  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.exchange_title {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_title {
  width: 35%;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
}
.main_title h1 {
  margin: 0;
  width: 100%;
  padding: 15px 15px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  color: rgb(204, 146, 0);
  border-left: 2px solid teal;
  border-right: 2px solid teal;
  font-family: Georgia, "Times New Roman", Times, serif;

  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_title {
  width: 60%;
  padding: 20px;
  border-radius: 15px;
  border-left: 2px solid teal;
  border-right: 2px solid teal;
}
.sub_title h2 {
  margin-top: 0;
  font-size: 25px;
  margin-bottom: 10px;
  color: rgb(204, 146, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sub_title h4 {
  margin: 0;
  font-size: 18px;
  text-indent: 10%;
  color: rgb(11, 37, 40);
  font-family: "Montserrat", sans-serif;
}
.category_banner {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.category_banner h1 {
  font-size: 35px;
  color: rgb(48, 93, 98);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.exchange_body {
  width: 65%;
  transition: all 1s;
  border-radius: 15px;
  border-top: 2px solid teal;
  border-bottom: 2px solid teal;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.panel_head {
  width: 100%;
  cursor: pointer;
  transition: all 1s;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.panel_head h1 {
  margin: 0;
  width: 65%;
  font-size: 35px;
  text-align: center;
  transition: all 1s;
  color: rgb(48, 93, 98);
  font-family: Georgia, "Times New Roman", Times, serif;

  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.panel_head h1 i {
  font-size: 80px;
  transition: all 1s;
}
.panel_head h1 b {
  width: 100%;
  font-size: 35px;
  transition: all 1s;
}
.panel_head:hover .panel_h1 {
  color: goldenrod;
  transition: all 1s;
}
.panel_head h4 {
  width: 5%;
  font-size: 30px;
  color: goldenrod;
  transition: all 1s;

  display: flex;
  align-items: center;
  justify-content: center;
}
.panel_head:hover .panel_h4 {
  color: teal;
  transition: all 0.25s;
  transform: rotate(180deg);
}
.panel_head h4 i {
  transform: rotate(180deg);
}
.panel_body {
  width: 100%;
  margin-top: 20px;
  padding: 0 0 15px 0;
  border-radius: 15px;
  transition: all 1s;
  border-left: 2px solid gold;
  border-right: 2px solid gold;

  display: none;
  align-items: center;
  justify-content: space-evenly;
}

.left_panel {
  width: 45%;
  padding: 0 20px;
  transition: all 1s;
}
.left_panel h1 {
  margin: 0;
  width: 100%;
  transition: all 1s;

  display: flex;
  align-items: center;
  justify-content: center;
}
.left_panel p {
  width: 100%;
  font-size: 16px;
  text-indent: 10%;
  transition: all 1s;
}
.left_panel p b {
  font-size: 20px;
  text-indent: 10%;
  color: rgb(48, 93, 98);
}
.left_panel ul {
  width: 90%;

  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.right_panel {
  width: 45%;
  padding: 0 20px;
  transition: all 1s;
}
.right_panel h1 {
  margin: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;
}
.right_panel h2 {
  font-size: 16px;
  color: rgb(48, 93, 98);
}
.right_panel p {
  width: 100%;
  font-size: 16px;
}
.right_panel p b {
  color: rgb(48, 93, 98);
}

/* RESPONSIVE CONTENT START */
@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    height: fit-content;
    padding: 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content_subcontainer {
    width: 90%;
    margin: 50px 0 50px 0;
    padding: 10px 15px;
  }
  .left {
    width: 50%;
    float: left;
    margin-right: 60px;
    margin-bottom: 60px;

    display: none;
    align-items: flex-start;
    flex-direction: column;
    justify-content: start;
  }
  .left img {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left p {
    margin: 0;
    width: 100%;
    opacity: 0.55;
    font-size: 20px;
    font-weight: 400;
    color: #233547;
    font-style: normal;
    font-family: "Montserrat", sans-serif;
  }
  .right {
    width: 100%;
  }
  .company_description {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 450;
    text-align: justify;
    margin: 0 15px 25px 0;
    color: rgb(48, 93, 98);
    font-family: "Montserrat", sans-serif;
  }
  .company_description b {
    font-size: 17px;
    font-weight: 500;
    color: rgb(11, 10, 65);
    font-family: "Montserrat", sans-serif;
  }
  .mission_container {
    width: 100%;
    height: fit-content;
  }
  .mission {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 60px 0;
    background: none;
    background-color: rgb(48, 93, 98);
    background-size: cover;
    background-position-y: -150px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;
  }
  .mission_left {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .mission_left p {
    width: 100%;
    color: white;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-shadow: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mission_right {
    width: 85%;
    padding: 0;
    margin: 0 0 0 0;
  }
  .mission_right p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    text-indent: 10%;
    text-align: justify;
    letter-spacing: 0.4px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-shadow: none;
  }
  .values_container {
    width: 100%;
    height: fit-content;
  }
  .values {
    width: 100%;
    height: fit-content;
    margin: 50px 0 50px 0;
    background: none;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column-reverse nowrap;
  }
  .values_right {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .values_right p {
    width: 100%;
    color: rgb(48, 93, 98);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-shadow: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .values_left {
    width: 85%;
    margin: 0 0 0 0;
    padding: 0;
  }
  .values_left p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    text-indent: 10%;
    letter-spacing: 0.4px;
    color: rgb(48, 93, 98);
    font-family: "Montserrat", sans-serif;
    text-shadow: none;
  }
  .specialization {
    width: 100%;
    padding: 0 0 0 0;
    height: fit-content;
    background-image: linear-gradient(white, #d6e4ee);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .special_navbar {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    outline-offset: 3px;
    outline: 1.5px solid teal;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;

    background-size: cover;
    background-position-y: -100px;
    background-image: url(/photos/silk.jpg);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    padding: 10px 0;
  }
  .spec_left {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .spec_left h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: rgb(216, 164, 33);
    text-shadow: rgb(255, 255, 255) 2px 2px 10px;

    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .spec_right {
    width: 100%;
    height: 75px;

    gap: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .spec_right button {
    color: black;
    background: none;
    padding: 10px 15px;
    transition: all 0.5s;
    font-size: 20px;
    font-weight: 600;
    text-shadow: rgb(255, 255, 255) 2px 2px 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .visa_button {
    width: 50%;
    height: 100%;
  }
  .exchange_button {
    width: 50%;
    height: 100%;
  }
  .content_section {
    width: 90%;
    padding: 20px 0;
  }
  .visa_categories {
    width: 100%;

    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .visa_categories_subtitle {
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .visa_categories_subtitle b {
    font-size: 30px;
    color: rgb(48, 93, 98);
  }
  .content_header {
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    border-right: 1px solid gold;
    border-bottom: 2px solid teal;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .content_head {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
    gap: 20px;
  }
  .content_head h1 {
    margin: 0;
    width: 50%;
    font-size: 35px;
    transition: all 0.5s;
    color: rgb(48, 93, 98);
    font-family: Georgia, "Times New Roman", Times, serif;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .content_head h1 i {
    font-size: 80px;
  }
  .content_head:hover .h1 {
    color: goldenrod;
    transition: all 0.5s;
  }
  .content_head .h3 {
    margin: 0;
    width: 100%;
    font-size: 25px;
    transition: all 0.5s;
    color: rgb(48, 93, 98);
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .content_head:hover .h3 {
    color: goldenrod;
    transition: all 0.25s;
  }
  .content_head h4 {
    width: 5%;
    font-size: 30px;
    color: goldenrod;
    transition: all 0.25s;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content_head:hover .h4 {
    color: teal;
    transition: all 0.25s;
    transform: rotate(180deg);
  }
  .content_head h4 i {
    transform: rotate(180deg);
  }
  .content_body {
    width: 100%;

    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
  }
  .content_body_title {
    width: 100%;
    padding: 0 10px;
    border-radius: 15px;
    color: rgb(48, 93, 98);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .content_body_title h1 {
    width: 100%;
    font-size: 25px;
    color: rgb(48, 93, 98);
    text-align: center;
  }
  .content_container {
    width: 90%;
    font-size: 19px;
    padding: 10px 10px;
    border-radius: 15px;
    border: 2px solid teal;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .content_sub-class {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .content_sub-class h4 {
    margin: 0;
    width: 100%;
    color: rgb(48, 93, 98);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content_sub-class h3 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: goldenrod;
  }
  .content_sub-class p {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .exchange_visitor {
    width: 100%;

    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .exchange_title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
  }
  .main_title {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_title h1 {
    margin: 0;
    width: 100%;
    padding: 15px 15px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    color: rgb(204, 146, 0);
    border-left: 2px solid teal;
    border-right: 2px solid teal;
    font-family: Georgia, "Times New Roman", Times, serif;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sub_title {
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    border-left: 2px solid teal;
    border-right: 2px solid teal;
  }
  .sub_title h2 {
    text-align: center;
    margin-top: 0;
    font-size: 25px;
    margin-bottom: 10px;
    color: rgb(204, 146, 0);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .sub_title h4 {
    margin: 0;
    font-size: 18px;
    text-indent: 10%;
    color: rgb(11, 37, 40);
    font-family: "Montserrat", sans-serif;
  }
  .category_banner {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .category_banner h1 {
    font-size: 35px;
    color: rgb(48, 93, 98);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .exchange_body {
    width: fit-content;
    transition: all 1s;
    border-radius: 15px;
    border-top: 2px solid teal;
    border-bottom: 2px solid teal;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .panel_head {
    width: 100%;
    cursor: pointer;
    transition: all 1s;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .panel_head h1 {
    margin: 0;
    width: 65%;
    font-size: 35px;
    text-align: center;
    transition: all 1s;
    color: rgb(48, 93, 98);
    font-family: Georgia, "Times New Roman", Times, serif;

    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .panel_head h1 i {
    font-size: 80px;
    transition: all 1s;
  }
  .panel_head h1 b {
    width: 100%;
    font-size: 25px;
    transition: all 1s;
  }
  .panel_head:hover .panel_h1 {
    color: goldenrod;
    transition: all 1s;
  }
  .panel_head h4 {
    width: 5%;
    font-size: 30px;
    color: goldenrod;
    transition: all 1s;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .panel_head:hover .panel_h4 {
    color: teal;
    transition: all 0.25s;
    transform: rotate(180deg);
  }
  .panel_head h4 i {
    transform: rotate(180deg);
  }
  .panel_body {
    width: inherit;
    margin-top: 0;
    padding: 0 0 0 0;
    border-radius: 15px;
    transition: all 1s;
    border-left: 2px solid gold;
    border-right: 2px solid gold;

    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
  }

  .left_panel {
    width: 90%;
    padding: 0 20px;
    transition: all 1s;
  }
  .left_panel h1 {
    margin: 0;
    width: 100%;
    transition: all 1s;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left_panel p {
    width: 100%;
    font-size: 16px;
    text-indent: 10%;
    transition: all 1s;
  }
  .left_panel p b {
    font-size: 20px;
    text-indent: 10%;
    color: rgb(48, 93, 98);
  }
  .left_panel ul {
    width: 80%;

    gap: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .right_panel {
    width: 90%;
    padding: 0 20px;
    margin-bottom: 20px;
    transition: all 1s;
  }
  .right_panel h1 {
    margin: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
  }
  .right_panel h2 {
    font-size: 16px;
    color: rgb(48, 93, 98);
  }
  .right_panel p {
    width: 100%;
    font-size: 16px;
  }
  .right_panel p b {
    color: rgb(48, 93, 98);
  }
}
/* CONTENT -END- */

/* ! -------------------------------- */

/* FOOTER BAR SECTION [ START ] */

   /* FOOTER BAR DESKTOP DESIGN [ START ] */
   footer {
    clear: both;
    width: 100%;
    height: 220px;
    outline-offset: 3px;
    outline: 1px solid goldenrod;
    border-top: 2px solid rgb(48, 93, 98);
    background-size: cover;
    background-position-y: -100px;
    background-image: url(../photos/silk.jpg);
 }
    .footer_container {
       width: 100%;
       height: 220px;
       box-sizing: border-box;
       gap: 15px;
       display: flex;
       align-items: center;
    }
       .logo_container {
          width: 30%;
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-evenly;
       }
          .logo_container a {
             width: 100%;
             margin-top: 15px;
             transition: 0.5s;
             box-sizing: border-box;
             display: flex;
             justify-content: center;
          }
             .logo_container a:hover {
                opacity: 0.7;
                transition: 0.5s;
             }
             .logo_container img {
                width: 90%;
             }
          .logo_container p {
             width: 100%;
             font-size: 12px;
             padding: 0 15px;
             font-style: italic;
             text-align: justify;
             box-sizing: border-box;
             color: rgb(48, 93, 98);
             font-family: Georgia, 'Times New Roman', Times, serif;
          }
       .contact_info {
          width: 25%;
          height: 80%;
          box-sizing: border-box;

          display: flex;
          align-items: center;
          justify-content: center;
       }
          .contact_info_left {
             width: 20%;
             height: 100%;
             box-sizing: border-box;

             display: flex;
             align-items: center;
             flex-direction: column;
             justify-content: space-evenly;
          }
             .contact_info_left i {
                width: 100%;
                height: 100%;
                font-size: 20px;
                box-sizing: border-box;
                color: rgb(201, 169, 43);

                display: flex;
                align-items: center;
                justify-content: center;
             }
          .contact_info_right {
             width: 80%;
             height: 100%;
             box-sizing: border-box;

             display: flex;
             align-items: center;
             flex-direction: column;
             justify-content: space-evenly;
          }
             .contact_info_right > .address {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-size: 14px;
                box-sizing: border-box;
                color: rgb(48, 93, 98);
                font-family: "Montserrat", sans-serif;

                display: flex;
                align-items: center;
                justify-content: start;
             }
             .contact_info_right > .e-mail {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-size: 14px;
                font-weight: 400;
                color: rgb(48, 93, 98);
                font-family: "Montserrat", sans-serif;
                display: flex;
                align-items: center;
                justify-content: start;
             }
             .contact_info_right > .phone {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-size: 14px;
                box-sizing: border-box;
                color: rgb(48, 93, 98);
                font-family: "Montserrat", sans-serif;
                display: flex;
                align-items: center;
                justify-content: start;
             }
                .contact_info_right > p:hover {
                   text-decoration: underline;
                   cursor: pointer;
                }
                
             .contact_info_right > a {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                box-sizing: border-box;
                color: rgb(201, 169, 43);
                font-family: "Montserrat", sans-serif;

                display: flex;
                align-items: center;
                justify-content: start;
             }
                .contact_info_right > a:hover {
                   text-decoration: underline;
                }
       .about_links {
          width: 15%;
          height: 75%;
          gap: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
       }
          .about_title {
             margin: 0;
             padding: 5px 0;
             font-size: 18px;
             font-weight: 800;
             text-indent: 10px;
             color: rgb(201, 169, 43);
             font-family: Georgia, "Times New Roman", Times, serif;
             display: flex;
             align-items: center;
          }
          .about_links_container {
             width: 100%;
             height: fit-content;
             gap: 5px;
             display: flex;
             flex-direction: column;
             justify-content: space-evenly;
          }
             .company_links {
                font-size: 15px;
                text-indent: 10px;
                text-decoration: none;
                color: rgb(48, 93, 98);
                font-family: "Montserrat", sans-serif;
             }
                .company_links:hover {
                   text-decoration: underline;
                }
       .socials {
          width: 20%;
          height: inherit;
          display: flex;
          align-items: center;
          justify-content: start;
       }
          .socials-container {
             width: 100%;
             padding: 10px 0 10px 0;
             display: flex;
             align-items: center;
             justify-content: space-evenly;
          }
          .socials-container a, button {
             padding: 5px;
             border: none;
             font-size: 25px;
             cursor: pointer;
             color: rgb(201, 169, 43);
             text-decoration: none;
             transition: 0.25s;
          }
             .email_button button {
                font-size: 25px;
                color: goldenrod;
                background-color: transparent;
             }
                #socialButton1:hover {
                   color: blue;
                   transition: 0.25s;
                }
                #socialButton2:hover {
                   color: fuchsia;
                   transition: 0.25s;
                }
                #socialButton3:hover {
                   color: orange;
                   transition: 0.25s;
                }
 /* FOOTER BAR DESKTOP DESIGN [ START ] */

 /* RESPONSIVE FOOTER BAR DESIGN [ START ] */
    @media only screen and (max-width: 600px) {
       footer {
          clear: both;
          width: 100%;
          height: fit-content;
          outline-offset: 3px;
          outline: 1px solid goldenrod;
          border-top: 2px solid rgb(48, 93, 98);
          background-size: cover;
          background-position-y: 0;
          background-image: url(photos/silk.jpg);
       }
       .footer_container {
          width: 100%;
          height: fit-content;
          box-sizing: border-box;
          gap: 10px;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
       }
       .logo_container {
          width: 100%;
          height: 100%;
          text-align: center;
          box-sizing: border-box;
          gap: 10px;
       }
       .logo_container p {
          width: 100%;
          font-size: 12px;
          font-style: italic;
          text-align: center;
          box-sizing: border-box;
          color: rgb(48, 93, 98);
          font-family: Georgia, 'Times New Roman', Times, serif;
       }
       .contact_info {
          width: 100%;
          height: fit-content;
          text-align: center;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
       }
       .about_links {
          width: fit-content;
          height: fit-content;
          gap: 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          text-align: center;
       }
       .about_title {
          margin: 0;
          padding: 5px 0;
          font-size: 18px;
          font-weight: 800;
          text-indent: 0;
          color: rgb(201, 169, 43);
          font-family: Georgia, "Times New Roman", Times, serif;
          display: flex;
          align-items: center;
       }
       .company_links {
          font-size: 15px;
          text-indent: 0;
          text-decoration: none;
          color: rgb(48, 93, 98);
          font-family: "Montserrat", sans-serif;
       }
       .socials {
          width: 100%;
          height: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
       }
    }
 /* RESPONSIVE FOOTER BAR DESIGN [ END ] */

/* FOOTER BAR SECTION [ END ] */